.auth-button-container {
    width: 100%; /* Container will be full width */
}

.auth-button {
    width: 100%; /* Button will take up 100% of the container width */
    font-size: 16px; /* Adjust font size */
    background-color: #d5006d;
    color: white; /* Text color */
    border: none; /* Remove default borders */
    cursor: pointer; /* Add a pointer cursor on hover */
}

.auth-button:hover {
    background-color: #b0004d; /* Change color on hover */
}
